@using InsanKaynaklariYonetimiPlatformu.ViewModels.AdminVM
@model IndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;

}

<link href="~/MAP Page/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="~/MAP Page/css/sb-admin-2.css" rel="stylesheet" />

<div class="row">
    <div class="col-4">

        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Şirket Sayısı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CompanyCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">

        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Kayıtlı Yönetici
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ManagerCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">

        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Personel
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.EmployeeCount
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <div class="card-header">
                <h4 class="font-weight-bold text-primary text-center">
                    <img src="~/Dashboard/public/assets/img/icons/vacation.png" style="width:32px; height:32px;" />
                    Resmi Tatiller
                </h4>
            </div>
            <table class="m-0 table border-left-warning table-bordered dataTable" id="dataTable" width="110%" style="overflow-y:scroll">
                <thead>
                    <tr role="row" class="border-bottom-warning">
                        <th class="border-bottom-warning" style="width: 67px; height:10px; " colspan="1">Tatil Adı</th>
                        <th class="border-bottom-warning" style="width: 67px; height: 10px;">Tarih</th>
                        <th class="border-bottom-warning " style="width: 67px; height: 10px">Gün Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom-warning">
                        <td>Yılbaşı</td>
                        <td>01.01.2022</td>
                        <td>1 Gün</td>
                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Ul. Egemen. ve Çocuk Bayramı</td>
                        <td>23.04.2022</td>
                        <td>1 Gün</td>
                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Emek ve Day. Günü</td>
                        <td>01.01.2022</td>
                        <td>1 Gün</td>
                    </tr>

                    <tr class="border-bottom-warning">
                        <td>Ramazan Bayramı</td>
                        <td>2-4.05.2022</td>
                        <td>3 Gün</td>

                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Genç ve Spor Bayramı</td>
                        <td>19.05.2022</td>
                        <td>1 Gün</td>

                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Kurban Bayramı</td>
                        <td>9-12.07.2022</td>
                        <td>4 Gün</td>
                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Zafer Bayramı</td>
                        <td>30.08.2022</td>
                        <td>1 Gün</td>
                    </tr>
                    <tr class="border-bottom-warning">
                        <td>Cumhuriyet Bayramı</td>
                        <td>29.09.2022</td>
                        <td>1 Gün</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    
</div>
</div>

<script src="~/MAP Page/js/demo/chart-pie-demo.js"></script>
<script src="~/MAP Page/vendor/jquery/jquery.min.js"></script>
<script src="~/MAP Page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/MAP Page/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/MAP Page/js/sb-admin-2.min.js"></script>
<script src="~/MAP Page/vendor/chart.js/Chart.min.js"></script>
<script src="~/MAP Page/js/demo/chart-pie-personal.js"></script>
<script src="~/MAP Page/js/demo/pie-chart-permission.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>