@{
    Layout = "_Layout";

}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Tebrikler</h4>
    <p>Üyeliğiniz başarılı bir şekilde onaylanmıştır.</p>
    <hr>
    <p class="mb-0">Uygulamamızın kolaylıklarından faydalanabilirsiniz, kolaylıklar dileriz.</p>
</div>
<button class="btn btn-primary" asp-controller="Home" asp-action="Login">Giriş Sayfasına Git</button>


