@{
    Layout = "_Layout";

}
<br />
<div class="container pt-7"></div>
<h2>Doğrulama işleminiz başarılı bir şekilde gerçekleşti.</h2>
<br />
<button type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Giriş Sayfasına Git</button>


