@model PasswordVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;


}
<div class="row">
    <div class="card offset-3 col-6">
        <div class="card-header text-center">Şifremi Değiştir</div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <i class="fas fa-key prefix grey-text"></i>
                    <label asp-for="OldPassword"></label>
                    <input  name="Pass1"class="form-control" asp-for="OldPassword" maxlength="8"  />
                </div>
                <div class="form-group">
                    <i class="fas fa-keybase prefix grey-text"></i>
                    <label asp-for="NewPassword"></label>
                    <input  id="Pass" class="form-control" asp-for="NewPassword" maxlength="8"/>
                </div>
                <div class="form-group">
                    <i class="fas fa-keybase prefix grey-text"></i>
                    <label asp-for="AgainNewPassword"></label>
                    <input id="Pass" class="form-control" asp-for="AgainNewPassword" maxlength="8" />
                </div>
                <div class="text-end">
                    <button id="Save" type="submit" class="btn btn-primary"  >Kaydet</button>
                </div>
            </form>
        </div>
         <script type="text/javascript">
             var Save=document.getElementById("Save");
             Save.onclick=function()
             {
                 var Passes=document.getElementByName("Pass1");
            window.alert(Passes.value.length);
             }
             
        



         </script>
    </div>
</div>