@model EmployeesExpenditureVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;

}

<div class="card">
    <div class="justify-content-center">
        <div class="card-title" </div>
        <form method="post">
            <div asp-validation-summary="All"></div>
         

            <div class="form-group">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="isAproved">Harcamayı Onayla</label>
                        <input type="radio" asp-for="isAproved" value="true" />
                    </div>
                    <div class="form-group ">
                        <label asp-for="isAproved">Harcamayı Reddet</label>
                        <input type="radio" asp-for="isAproved" value="false" />
                    </div>
                </div>
            </div>
            <br />


            <div class="justify-content-end">
                <button asp-route-id="@Model.ID" asp-action="EmployeeExpenditure" asp-controller="Manager"type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        </form>
        <a type="submit" asp-route-id="@Model.ID" asp-action="DeleteEmployeeExpenditure" asp-controller="Manager" class="btn btn-danger">Sil</a>
        <a type="submit" asp-route-id="@id" asp-action="EmployeeExpenditure" asp-controller="Manager" class="btn btn-warning">Listeye Dön</a>
    </div>
</div>