@model EditPremiumVm
<div asp-validation-summary="All"></div>
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;
}




<div class="modal-body">
    <form method="post" action="/Manager/PostEditPremiumModel" id="PostMethod">

        <div class="modal-body mx-3">
            <div asp-validation-summary="All"></div>


            <div class="form-group">
                <label asp-for="Salary"></label>
                <input id="Salary" class="form-control" asp-for="Salary" onkeyup="calculate()">

            </div>
            <div class="form-group">
                <label asp-for="PremiumRate"></label>
                <input id="PremiumRate" class="form-control" asp-for="PremiumRate" onkeyup="calculate()">
            </div>
            <div class="form-group ">
                <label asp-for="NetSalary"></label>
                <input id="NetSalary" class="form-control" readonly asp-for="NetSalary">
            </div>

            <br />
            @section Scripts{

            <script type="text/javascript">
                 function  calculate()
                 {
                  var Salary= parseFloat(document.getElementById("Salary").value.replace(',', '.'));

                  var PremiumRate=  parseFloat(document.getElementById("PremiumRate").value.replace(',', '.'));

                document.getElementById("NetSalary").value =(Salary*(1+PremiumRate)).toFixed(2).replace('.',',');
                 }

            </script>
            }

            <div class="modal-footer d-flex justify-content-center">
                <button asp-route-id="@id" type="submit" asp-controller="Manager" asp-action="PostEditPremiumModel" class="btn btn-primary" >Kaydet</button>

            </div>

         
        </div>
    </form>
</div>
<div class="modal-footer">
    <form method="get">
        <button <button asp-route-id="@id"  asp-controller="Manager" asp-action="ManagersEmployees" class="btn btn-primary"  >Close</button>

    </form>
</div>
