@model ManagersPermissionVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;

}



<form method="POST">
    <div class="row">
        <div asp-validation-summary="All"></div>
        <div class="col-4 form-group">
            <label asp-for="StartDate"><i class="fas fa-id-card"></i></label>
            <input asp-for="StartDate" />

            <label asp-for="FinishDate"><i class="fas fa-briefcase"></i></label>
            <input asp-for="FinishDate" />
        </div>
        <br />
        <div class="col-4 form-group">

            <label asp-for="PermissionType">Yıllık İzin</label>
            <input type="radio" asp-for="PermissionType" value="1" />

            <br />

            <label asp-for="PermissionType">Doğum İzni</label>
            <input type="radio" asp-for="PermissionType" value="2" />

            <br />

            <label asp-for="PermissionType">Babalık İzni</label>
            <input type="radio" asp-for="PermissionType" value="3" />

            <br />

            <label asp-for="PermissionType">Ücretsiz İzin</label>
            <input type="radio" asp-for="PermissionType" value="4" />

        </div>

        <div class="form-group form-button">
            <input type="submit" asp-route-id="@Model.ID" class="form-submit" value="Kaydet" />
            <a type="submit" asp-route-id="@Model.ID" asp-action="DeletedPermissionManager" asp-controller="Manager" class="btn btn-danger">Sil</a>
            <a type="submit" asp-route-id="@id" asp-action="ManagersPermission" asp-controller="Manager" class="btn btn-warning">Listeye Dön</a>
        </div>

    </div>
</form>


