@model ManagerExpenditureVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Harcamalarım</h6>
    </div>
    <div class="card-body align-self-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEmployeeExpenditure">
            Harcama Ekle
        </button>
        <div asp-validation-summary="All"></div>



        <div class="modal fade" id="AddEmployeeExpenditure" tabindex="-1" aria-labelledby="AddEmployeeExpenditureModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Harcama Ekle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/Manager/ManagerExpenditureList" id="PostMethod" enctype="multipart/form-data">
                            <div class="modal-body mx-3">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
                                    <label asp-for="ExpenditureName">Harcama Adı</label>
                                    <input class="form-control" asp-for="ExpenditureName" onkeypress="return isHarfKey(event)" >
                                </div>
                                <div class="form-group">
                                    <label asp-for="ExpenditureAmount">Harcama Tutarı</label>
                                    <input class="form-control" asp-for="ExpenditureAmount"  onkeypress="return isNumberKey(event)" >
                                </div>
                                <div class="form-group">
                                    <label asp-for="Details">Detay</label>
                                    <input class="form-control" asp-for="Details">
                                </div>


                                <br />


                                <div class="modal-footer d-flex justify-content-center">
                                    <button asp-route-id="@id" type="submit" class="btn btn-primary">Kaydet</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @await Component.InvokeAsync("ManagerExpenditureList", new { id = id })

    </div>
</div>
<script type="text/javascript">
                   function isHarfKey(evt) 
                {
               var charCode = (evt.which) ? evt.which : event.keyCode;
               if ((charCode <= 93 && charCode >= 65) || ( charCode<=122 && charCode>=97) || charCode ==8 || charCode==350 || charCode==351 || charCode==304 || charCode==286|| charCode==287|| charCode==231|| charCode==199|| charCode==305|| charCode==214|| charCode==246|| charCode==220|| charCode==252 || charCode==32)
               return true;
               return  false;
               }
               function isNumberKey(evt) 
                {
               var charCode = (evt.which) ? evt.which : event.keyCode;
               if (charCode > 31 && (charCode < 44 || charCode > 57 || charCode==45 || charCode==46 || charCode==47))
               return false;
               return true;
               }
            </script>