@model ManagerRegisterVM
@{
    ViewData["Title"] = "Register";
}
<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-8 ">
            <div class="card mt-4">
                <div class="card-header fs-4 text-center"> Kayıt Ol</div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="CompanyName" class="form-label"></label>
                            <input asp-for="CompanyName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="ManagerFullName" class="form-label"></label>
                            <input asp-for="ManagerFullName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="ManagerMail" class="form-label"></label>
                            <input asp-for="ManagerMail" class="form-control"></input>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ManagerPassword" class="form-label"></label>
                            <input asp-for="ManagerPassword" class="form-control">
                        </div>
                        <div class="mb-3 alert-danger text-sm-center" asp-validation-summary="All"></div>

                        <button type="submit" class="btn btn-primary">Kayıt Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>