@model ManagerRegisterVM
@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="~/RegisterPage/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/RegisterPage/css/style.css">

</head>
<body>

    <div class="main">


        <section class="signup">
            <div class="container">
                <div class="row signup-content">
                    <div class="col-6 signup-form">
                        <h2 class="form-title">Kayıt ol</h2>
                        <form method="POST" class="register-form">
                            <div asp-validation-summary="All"></div>
                            <div class="form-group">
                                <label asp-for="CompanyName"><i class="zmdi zmdi-account-box"></i></label>
                                <input asp-for="CompanyName" type="text" id="name" placeholder="Firma Adı" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ManagerFullName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="ManagerFullName" type="text" id="name" placeholder="İsim Soyisim" onkeypress="return isHarfKey(event)" />
                            </div>
                            <div class="form-group">
                                <label asp-For="ManagerMail"><i class="zmdi zmdi-email"></i></label>
                                <input asp-for="ManagerMail" type="email" id="email" placeholder="Mail Adresiniz" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ManagerPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="ManagerPassword" type="password" id="pass" placeholder="Şifreniz" />
                            </div>
                            <div class="form-group">
                                @*<label asp-for="Address"></label>*@
                                <textarea asp-for="Address" rows="5" cols="38" placeholder="Adres"></textarea>
                            </div>
                           
                            <div>
                                <label class="form-group"> Üyelik Türü</label>
                                <hr />
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label asp-for="Membership">Aylık</label>
                                            <input type="radio" asp-for="Membership" value="1" />
                                        </div>


                                        <div class="form-group ">
                                            <label asp-for="Membership">Yıllık</label>
                                            <input type="radio" asp-for="Membership" value="2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Kayıt Ol" />
                            </div>

                        </form>
                        <div>

                        </div>
                    </div>

                    <div class="col-6 signup-image">
                        <figure>
                            <img src="~/RegisterPage/images/signup-image.jpg">
                            <a href="http://localhost:8021/">Zaten Üyeyim.</a>
                        </figure>


                    </div>

                </div>
            </div>
        </section>
    </div>
     <script type="text/javascript">
                   function isHarfKey(evt) 
                {
               var charCode = (evt.which) ? evt.which : event.keyCode;
               if ((charCode <= 93 && charCode >= 65) || ( charCode<=122 && charCode>=97) || charCode ==8 || charCode==350 || charCode==351 || charCode==304 || charCode==286|| charCode==287|| charCode==231|| charCode==199|| charCode==305|| charCode==214|| charCode==246|| charCode==220|| charCode==252 || charCode==32)
               return true;
               return  false;
               }
              
            </script>


    <!-- JS -->
    <script src="~/RegisterPage/vendor/jquery/jquery.min.js"></script>
    <script src="RegisterPage/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
