@model ForgetVM

@{
    ViewData["Title"] = "Login";

}
<div class="container ">
    <div class="row justify-content-center mt-5 ">
        <div class="col-5 ">

            <div class=" card mt-5 ">
                <div class=" card-header fs-4" text-center> Şifrenizi Sıfırlayın </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">

                            <label asp-for="Email" class="from-label"></label>
                            <input asp-for="Email" class="form-control" />
                        </div>


                        <div>
                            <button type="submit" class="btn btn-primary"> Şifre Sıfırla   </button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>







</div>
