@model LoginVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Giriş Yap</h4>

            </div>
            <form method="post" action="/home/Login" id="PostMethod">
                <div class="modal-body mx-3">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label asp-for="Email" data-error="wrong" data-success="right" for="defaultForm-email"></label>
                        <input class="form-control" asp-for="Email" type="email" id="defaultForm-email" placeholder="isimsoyisim@firmamaili.com">

                    </div>

                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label asp-for="Password" data-error="wrong" data-success="right" for="defaultForm-pass"></label>
                        <input class="form-control" asp-for="Password" type="password" id="defaultForm-pass" te" placeholder="********">

                    </div>
                    <div class="from-check mb-3">

                        <input asp-for="IsRemember" class="from-check input" value="true" />
                        <label asp-for="IsRemember" class="from-check label text-dark"></label>
                    </div>
                    <br />
                    <a class="text-dark small" asp-controller="Manager" asp-action="Register">Üye Değilseniz Kayıt Oluşturun.</a>

                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Giriş</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!--/Giriş Sözleri ve İK Fotoğrafı-->
<div class="py-0" id="home">

    <!--/.bg-holder-->

    <div class="bg-holder d-block d-md-none" style="background-image:url(Dashboard/public/assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;margin-top:5.625rem;">
    </div>
    <!--/.bg-holder-->

    <div class="container-fluid bg-soft-light">
        <div class="row align-items-center min-vh-md-75">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                <h1 class="mt-6 mb-sm-4 display-4 fw-light lh-sm fs-4 fs-lg-6 fs-xxl-7">Zaman <span class="text-primary">Yönetimi</span> Profesyonellik Gerektirir. <br class="d-block d-lg-none d-xl-block" /> </h1>
                <p class="mb-5 fs-1 lh-lg"> Personellerinizi tek ekrandan kontrol edebilmenin deneyimini yaşamak size kolaylık ve rahatlık getirecek. </p><a class="btn btn-lg btn-primary hover-top btn-glow" href="#">
                    Teklif Alın
                    <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                    </svg>
                </a>

            </div>
            <div class="col-md-7 col-lg-6 py-6 bg-holder" style="background-image:url(Dashboard/public/assets/img/gallery/background1.png);background-position:right;background-size:40%;margin-top:5.625rem;display:ruby-base-container">
            </div>
        </div>
    </div>
</div>
<!--/Referanslarımız-->
<div class="bg-100 py-5">
    <div class="container bg-soft-light">
        <div class="row">
            <div class="col-12 mx-auto align-items-center text-center">
                <h6 class="mb-4 text-uppercase fw-light fs-1 mb-6 text-primary"><b>Referanslarımız</b></h6>
                <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 justify-content-center">
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="~/Dashboard/public/assets/img/favicons/apple-logo-128px.png" alt="referans1" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="~/Dashboard/public/assets/img/favicons/ibm-logo-128px.png" alt="referans2" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="~/Dashboard/public/assets/img/favicons/ford-logo-128px.png" alt="referans3" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="~/Dashboard/public/assets/img/favicons/linkedin-logo-128px.png" alt="universities" /></div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row h-100 justify-content-center">
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="AcademyLib/public/assets/img/gallery/windows-logo-128px.png" alt="universities" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="AcademyLib/public/assets/img/gallery/linkedin-logo-128px.png" alt="universities" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="assets/img/gallery/newcastle-uni.png" alt="universities" /></div>
                                <div class="col-sm-6 col-lg-4 col-xl-3 text-xl-start"><img class="mb-4" src="assets/img/gallery/la-trobe-uni.png" alt="universities" /></div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-5 flex-center">
                        <div class="col-auto position-relative z-index-2">
                            <ol class="carousel-indicators">
                                <li class="active mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                                <li class="mx-2" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Uygulamalarımız-->
<div id="services">
    <div class="container-fluid bg-soft-light">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3">Uygulamalarımız</h5>
                <p class="mb-5"></p>
            </div>
        </div>
        <div class="row flex-center h-100">
            <div class="col-xl-12">
                <div class="row justify-content-center">
                    <div class="col-md-3 mb-3">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-5 icons" src="~/Dashboard/public/assets/img/favicons/ozluk-dosyasi.png" height="60" alt="services" />
                                <div class="card-body">
                                    <h6 class="fw-light fs-1 heading-color"><b>Özlük Dosyalarına Kolay Erişim</b></h6>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Her personelin dosyalarının takibini yapmak efor gerektirir ama tek bir tık ile buna erişebilirsiniz. </p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">
                                        Daha Fazlası
                                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-5 icons" src="~/Dashboard/public/assets/img/favicons/izin-talep.png" height="60" alt="services" />
                                <div class="card-body">
                                    <h6 class="fw-light fs-1 heading-color"><b>İzin Taleplerini Yönetin</b></h6>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Personellerin talepleri anlık olarak ekranınızda görünsün ve yönetiminiz kolaylaşsın. </p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">
                                        Daha Fazlası
                                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-5 icons" src="~/Dashboard/public/assets/img/favicons/working-time.png" height="60" alt="services" />
                                <div class="card-body">
                                    <h6 class="fw-light fs-1 heading-color"><b>Çalışma Saatlerini Kontrol Edin</b></h6>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Vardiya ve mola saatlerini kendi planınıza göre düzenleyin ve personellerinize sadece kendi takvimlerini kontrol etmek kalsın.  </p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">
                                        Daha Fazlası
                                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                            <div class="text-center text-md-start card-hover">
                                <img class="ps-3 icons" src="~/Dashboard/public/assets/img/favicons/equipment-icon.png" height="60" alt="services" />
                                <div class="card-body">
                                    <h6 class="fw-light fs-1 heading-color"><b>Zimmet Ekle/Çıkar</b></h6>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Kullanılan ekipmanlar personelinizin onayına sunulsun, karışıklık ortadan kalksın.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">
                                        Daha Fazlası
                                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
<!--/Kullanıcı Yorumları Özet-->
@await Component.InvokeAsync("HomeManagerCommentList")





