@model LoginVM

@{
    ViewData["Title"] = "Login";

}

    <div class="container ">
        <div class="row justify-content-center mt-5 ">
            <div class="col-5 ">

                <div class=" card mt-5 ">
                    <div class=" card-header fs-4" text-center> Giriş Yapın </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="mb-3">

                                <label asp-for="Email" class="from-label"></label>
                                <input asp-for="Email" class="form-control" />
                              
                            </div>

                            <div class="mb-3">

                                <label asp-for="Password" class="from-label"> Şifre</label>
                                <input asp-for="Password" class="form-control" />
                            </div>

                            <div class="from-check mb-3">

                                <input asp-for="IsRemember" class="from-check input" value="true" />
                                <label asp-for="IsRemember" class="from-check label"></label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary"> Giriş Yap   </button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>







    </div>
