@model List<ManagersDebitVM>

<div asp-validation-summary="All"></div>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>Zimmet Adı</th>
                <th>Başlangıç Tarihi</th>
                <th>Detay</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ManagersDebitVM managersDebitVM in Model) 
            {
            <tr>
                <td>@managersDebitVM.DebitName</td>
                <td>@managersDebitVM.StartedDate.ToShortDateString()</td>
                <td>@managersDebitVM.Details</td>
                
                <td>
                    <a asp-controller="Manager" asp-action="DeletedManagersDebit" asp-route-id="@managersDebitVM.ID">
                        <i class="btn btn-outline-danger far fa-trash-alt"></i>
                        @*<i class="fas fa-trash"></i>*@

                    </a>
                </td>
            </tr>

            }

        </tbody>
    </table>
</div>