@model EmployeeDebitVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Zimmetlerim</h6>
    </div>
    <div class="card-body align-self-end">

        <div asp-validation-summary="All"></div>
        

        <div class="modal fade" id="AddDebitEmployee" tabindex="-1" aria-labelledby="AddDebitEmployeeModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zimmet Reddet</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/Employee/EmployeesDebit" id="PostMethod">
                            <div class="modal-body mx-3">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
                                    <label asp-for="DescofRejec">Red Sebebi</label>
                                    <input class="form-control" asp-for="DescofRejec">
                                </div>
                                @*<div class="form-group">
                                    <label asp-for="StartedDate">Red Tarihi</label>
                                    <input class="form-control" asp-for="StartedDate">
                                </div>*@


                                <br />


                                <div class="modal-footer d-flex justify-content-center">
                                    <button asp-route-id="@id" type="submit" class="btn btn-primary">Kaydet</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @await Component.InvokeAsync("EmployeeDebitList", new { id = id })

    </div>
</div>