@model ExpenditureVM
@{
    Layout = "_Layout2";
    int id = ViewContext.HttpContext.Session.GetInt32("ID").Value;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Harcamalarım</h6>
    </div>
    <div class="card-body align-self-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEmployeeExpenditure">
            Harcama Ekle
        </button>
        <div asp-validation-summary="All"></div>



        <div class="modal fade" id="AddEmployeeExpenditure" tabindex="-1" aria-labelledby="AddEmployeeExpenditureModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Harcama Ekle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/Employee/ExpenditureList" id="PostMethod">
                            <div class="modal-body mx-3">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
                                    <label asp-for="ExpenditureName"></label>
                                    <input class="form-control" asp-for="ExpenditureName">
                                </div>
                                <div class="form-group">
                                    <label asp-for="ExpenditureAmount"></label>
                                    <input class="form-control" asp-for="ExpenditureAmount">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Details"></label>
                                    <input class="form-control" asp-for="Details">
                                </div>

                                <br />


                                <div class="modal-footer d-flex justify-content-center">
                                    <button asp-route-id="@id" type="submit" class="btn btn-primary">Kaydet</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @await Component.InvokeAsync("EmployeeExpenditureList", new { id = id })

    </div>
</div>